body{
    margin: 20px;
}

.stock-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top:20px;
}

.stock-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
}


.column {
    width: 33%; 
}

.stock-details:hover{
    background-color: rgb(224, 235, 205);
}

.column span {
    display: block;
}

.green-text {
    color: green;
}

.red-text {
    color: red;
}